.footer {
  .link {
    align-items: center;
    background: linear-gradient(180deg, #0239fe 0, #0285fe 100%);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;
    z-index: 4;
  }
  .link:hover::before {
    opacity: 1;
  }
  .link::before {
    background: linear-gradient(0deg, #002abf 0, #548aff 100%);
    border-radius: 50%;
    content: '';
    height: 40px;
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s linear;
    width: 40px;
    z-index: 2;
  }
}
