{% extends "../partials/layout.html" %} {% block content %} {% include
"../partials/sections/header.html" %}

<main>
  {% include "../partials/sections/score.html" %} {% include "../partials/sections/why.html" %} {%
  include "../partials/sections/choose.html" %} {% include "../partials/sections/app.html" %} {%
  include "../partials/sections/plans.html" %} {% include "../partials/sections/find.html" %} {%
  include "../partials/sections/subscribe.html" %}
</main>

{% include "../partials/sections/footer.html" %} {% endblock %}
