{% set section = footer %}

<footer
  class="bg-[#00113B] py-10 before:block before:w-full before:h-[1px] before:bg-white-FD before:rounded-[2px] px-5 md:px-8 xl:before:content-none"
>
  <div
    class="container xl:before:block xl:before:w-full xl:before:h-[1px] xl:before:bg-white-FD xl:before:rounded-[2px]"
  >
    <div class="xl__wrapper xl:flex xl:justify-between xl:items-center xl:mt-12">
      <p class="text-base font-medium text-[#ABAFC7] text-center hidden xl:block">
        {{section.year}}
      </p>
   <ul class="text-sm font-semibold flex gap-x-5 mt-10 justify-center mb-8 md:gap-x-10 xl:mt-0 xl:mb-0">
  {% for item in section.list %}
  <li class="relative group">
    <a href="#{{item.anchor}}" class="text-white-FD group-hover:text-[#0285fe] focus:text-[#0285fe] transition-colors duration-150">
      {{item.title}}
      <span class="absolute left-1/2 bottom-0 w-0 h-0.5 bg-[#0285fe] transition-all duration-150 group-hover:w-full group-hover:left-0 focus:w-full focus:left-0"></span>
    </a>
  </li>
  {% endfor %}
</ul>
      <div class="md__wrapper md:flex md:justify-between md:items-center">
        <ul class="flex gap-x-[10px] md:order-2 justify-center">
          {% for item in section.socials %}
          <li class="rounded-[20px] link-bg hover:scale-[1.1] duration-150">
            <a
              href=""
              class="flex h-10 w-10 flex-col justify-center items-center"
              aria-label="link {{section.item.title}}"
            >
              <svg class="w-4 h-4" aria-label="описание">
                <use href="./assets/images/sprite.svg#{{item.icon}}"></use>
              </svg>
            </a>
          </li>
          {% endfor %}
        </ul>
        <p
          class="text-base font-medium text-[#ABAFC7] text-center mt-8 md:mt-0 md:order-1 xl:hidden"
        >
          {{section.year}}
        </p>
      </div>
    </div>
  </div>
</footer>
