{% set section = plans %}
<section id="{{section.id}}" class="{{section.id}} section">
  <div class="container">
    <h2
      class="font-oswald text-white-FD font-bold text-[48px] leading-[1.3] mb-10 md:mb-[60px] xl:mb-10"
    >
      {{section.title}}
    </h2>
    <ul class="plans-slider md:-mx-8 mdOnly:-mt-9">
      {% for item in section.list %}
      <li
        class="item text-center text-white-FD rounded-lg py-8 px-[50px] min-h-[638px] min-w-[305px]"
      >
        <div class="min-h-[487px]">
          <svg class="block mx-auto mb-5" width="32" height="32" aria-label="icon">
            <use href="./assets/images/sprite.svg#{{item.svg}}"></use>
          </svg>
          <h3 class="item-title mb-6 font-oswald text-[32px] leading-[1.3]">{{item.title}}</h3>
          <ul class="grid gap-5 justify-center mb-10">
            {% for text in item.items %}
            <li class="font-roboto font-light text-base">{{text}}</li>
            {% endfor %}
          </ul>
          <p class="font-roboto text-xl leading-[1.3] mb-4">{{item.price}}</p>
          <p class="font-roboto text-base">{{item.online}}</p>
        </div>
        <button type="button" class="btn-white" data-modal-open>{{section.btn}}</button>
      </li>
      {% endfor %}
    </ul>
    <div class="relative md:hidden mt-5">
      <div class="flex justify-center gap-6">
        <button class="learn-prev-but-js duration-200" type="button" aria-label="button to left">
          <svg class="" width="48" height="48" aria-label="button to left">
            <use href="./assets/images/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button
          class="learn-next-but-js duration-200 rotate-180"
          type="button"
          aria-label="button to right"
        >
          <svg class="" width="48" height="48" aria-label="button to right">
            <use href="./assets/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
